<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Daos.buketDao">

	<select id="findAll" resultType="Map">
		select* from jang
	</select>
		<select id="findByEmail" parameterType="String" resultType="Map">
		 select *from jang where bemail=#{email}
	</select>
	<select id="findByBid" parameterType="_int" resultType="Map">
		select *from jang where bid=#{bid}
	</select>
	<update id="updateCount" parameterType="Map" >
		update jang set BCOUNT=#{count} where BID=#{bid}
	</update>

</mapper>